    <p>
        <strong>Autor: </strong>
        <%= comment.commenter %>
    </p>

    <p>
        <strong>Texto: </strong>
        <%= comment.body %>
    </p>


    <p>
        <%= link_to "Apagar comentário", [comment.post, comment], data:{
            turbo_method: :delete,
            turbo_confirm: "Tem certeza que deseja deletar?"
        }%>
    </p>
